/* Universal Styles */

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

/* Header and Nav Bar Styles */

header {
    background-color: #31343d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    background-color: #92ccce;
    color: #31343d;
    padding: 5px 10px;
}

nav {
    
}

nav li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
    color: #92ccce;
}

nav li a {
    color: #92ccce;
}

/* main styling begins here */

img {
    object-fit: cover;
    height: 250px;
    width: 100%;
}

h2 {
    color:#31343d;
    background-color: #92ccce;
    position: absolute;
    left: 1015px;
    top: 240px;
}

/* Styling for About Me Section */

#about-me {
    display: flex;
}

#about-me h3 {
    color: #445877;
    font-size: 50px;
    text-align: right;
    border-right: 1px solid black;
    margin-left: 100px;
    padding-right: 10px;
    height: 110px;
}

#about-me p {
    font-size: 15px;
    padding-left: 35px;
    line-height: 25px;
}

/* Work Styling */

.projects {
    display: flex;
    flex-flow: wrap;
    background-color: aquamarine;
}

#work h3 {
    color: #445877;
    font-size: 50px;
    text-align: right;
    border-right: 1px solid black;
    margin-left: 121px;
    margin-right: 50px;
    padding-right: 10px;
    height: 350px;
}

article a img {
    border: 2px solid #92ccce;
}

.project-headings {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 50px;
    color: black;
    background-color: #92ccce;
    width: 115px;
    padding-left: 5px;
    border: 2px solid #02ccce;
}

article h4 {
    font-size: 15px;
}

article p {
    font-size: 10px;
}

/* Footer Styling */

footer {
    display: flex;
    align-items: center;
}

footer h3 {
    color: #445877;
    font-size: 50px;
    text-align: right;
    border-right: 1px solid black;
    padding-right: 10px;
    height: 150px;
    width: 267px;
}

footer ul li {
    list-style: none;
    display: inline-block;
    padding: 0 45px;
    font-size: 15px;
}

footer ul li a {
    color: black;
}