/* Universal Styling */

* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

/* Header Styling - Title & Navigation */

header {
    align-items: center;
    background-color: #31343d;
    display: flex;
    justify-content: space-between;
}

h1 {
    background-color: #92ccce;
    color: #31343d;
    padding: 0.625rem;
}

nav li {
    display: inline-block;
    list-style: none;
}

nav li a {
    color: #92ccce;
    text-decoration: underline;
    padding: 0 0.625rem;
}

/* Main Styling - Hero Image & Heading */

.hero {
    align-items: flex-end;
    background-image: url("../assets/images/colorado_mountains.jpg");
    display: flex;
    height: 31.25rem;
    justify-content: flex-end;
    margin-bottom: 1.563rem;
    object-fit: cover;
}

h2 {
    background-color: #92ccce;
    color: #31343d;
    margin: 1.563rem;
    padding: 0.313rem;
}

/* About Me Section */

#about-me {
    display: flex;
    align-items: center;
}

h3 {
    color: #445877;
    font-size: 3.125rem;
    margin-left: 6.25rem;
    padding-right: 0.625rem;
    text-align: right;
}

#about-me img {
    border-left: .06rem solid #445877;
    height: 12.5rem;
    padding: 0 3.125rem;
}

#about-me p {
    font-size: 1rem;
    line-height: 25px;
    padding-right: 20px;
}

/* Work Section  */

.page-section {
    display: flex;
    margin-top: 25px;
    /* flex-wrap: wrap; */
    /* justify-content:right; */
}

.page-section a {
    text-decoration: none;
    color: #31343d;
}

.page-section h4 {
    background-color: #92ccce;
}

.page-section span {
    background-color: #92ccce;
}

.title {
    margin-left: 123px;
}

.flex-container {
    border-left: .06rem solid #445877;
    display: flex;
    flex-basis: auto;
    flex-flow: column wrap;
    align-items: center;
}

.project-one {
    background-image: url(./images/plants.jpg);
    height: 12.5rem;
    object-fit: cover;
    width: 930px;
    border: solid #92ccce;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.bottom-four-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.bottom-four-projects div {
    height: 75px;
    object-fit: cover;
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.project-two {
    background-image: url(./images/lumber.jpg);
    border: solid #92ccce;
    margin: 5px;
}

.project-three {
    background-image: url(./images/sand.jpg);
    border: solid #92ccce;
    margin: 5px;
}

.project-four {
    background-image: url(./images/wood.jpg);
    border: solid #92ccce;
    margin: 5px;
}

.project-five {
    background-image: url(./images/sandstone.jpg);
    border: solid #92ccce;
    margin: 5px;
}

/* Contact Me / Footer - Styling */

footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 200px;
}

footer h3 {
    border-right: .06rem solid #445877;
    margin-left: 5px;
    width: 250px;
}

footer ul li {
    display: inline-block;
    list-style: none;
    padding: 0 35px;
}

footer ul li a {
    color: #31343d;
}